body{

  // Buttons

  .ant-btn{
    font-weight: bold;
    transition: all 0.3s linear;
    backface-visibility: hidden;
    letter-spacing: 0;
    height: auto;
    padding: 6px 12px;
    

    &.ant-btn-lg{
      padding: 12px 15px;
      font-size: 16px;
      border-radius: 4px;
      line-height: 1;
      height: auto;
    }

    &.ant-btn-primary{
      color: #fff;
      background-color: $primary;
      border-color: $primary;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

      @include hover-focus-active{
        border-color: darken($primary, 5);
        background: darken($primary, 5);
        box-shadow: 0px 10px 10px -10px rgba($primary, 0.4);
      }
    }

    &.ant-btn-link{
      border: none;
      background: none;
      color: $gray-900;
      
      @include hover-focus-active{
        border: none;
        background: none;
      }
    }
  }

  // Inputs

  .ant-form-item{
    position: relative;

    .has-error .ant-form-explain, .has-error .ant-form-split{
      text-align: left;
      color: $primary;
      position: absolute;
      left: 0;
      font-size: 12px;
      bottom: -20px;
    }

  }

  .ant-input {
    border: solid 1px $gray-400;

    @include hover-focus-active{
      border: solid 1px $blue;
      box-shadow: 0 0 0 2px rgba($blue, 0.2);
    }
   
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: solid 1px $gray-400;
    -webkit-text-fill-color: $black;
    // -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  // Ant Breadcrumbs

  .ant-breadcrumb{
    background: #fff;
    padding: 10px 40px;
    box-shadow:0 0px 8px $gray-200;

    a:hover{
      color: $primary;
    }
  }

  // Ant Table

  .ant-table{
    &-thead{
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }

    &-body{

      tr:hover td{
        background: rgba($primary, 0.05) !important;
      }

      td.numbers{
        font-size: 14px;
      }

      td{
        color: #343a40;
      }
    }
  }

  // React Table

  // Ant Card

  .ant-card{
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 #E0E0E0;
  }

  // Ant Steps

  .ant-steps{
    max-width: 80%;
    margin: 0 auto;

    &-item{
      position: relative;

      &-icon{
        display: none;
      }

      &-content{
        text-align: center;
        position: relative;
      }

      &-title{
        font-size: 14px;
        color: #616161;
        position: unset;

        &:after{
          left: 110%;
          top: 0; bottom: 0;
          margin: auto;
        }
      }

      &-description{
        font-weight: bold;
        font-size: 18px;
        color: #212121;
        text-align: center;
      }
    }

    .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description{
      color: $gray-700;
    }

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description{
      color: $primary;
    }
  }


}

